$secondary: #48b461be;
$dark: rgba(0, 0, 0, 0.137);
@import "node_modules/bootstrap/scss/bootstrap";

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

nav {
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .dropdown-menu {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.329));
    .dropdown-item {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.329));
  margin: auto;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 300;
  cursor: pointer;
}

.dropdown-item:hover {
  background: $secondary;
}

.box {
  height: 60px;
}

.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
  text-decoration: none;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 5rem;
  text-align: center;
  color: white;
  background-image: url(img/landingIMG.jpg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.habilidades {
  width: 101vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url(img/habilidades.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .progressBar {
    width: 20vw;
    margin: 1vh 0 1vh 5vw;
  }

  .habilidad {
    color: white;
  }

  .col-right {
    color: white;
  }

  img{
    width: 705.5px;
    height: 300px;
  }

}
